## docs
/src/main/resources/api/
/src/main/resources/site/
## properties
dbconfig.properties
jwt.properties
## other
*.iml
.gradle
.DS_Store
/local.properties
/.idea
build
/gradle
/gradlew
/gradlew.bat