## docs
/src/main/resources/api
/src/main/resources/site
## other
*.iml
.gradle
.DS_Store
/local.properties
/.idea
build
/gradlew
/gradlew.bat
/uploads/
bin
.vscode
.env
api
site

## Phpmyadmin configs
docker/configurations/phpmyadmin/*
!docker/configurations/phpmyadmin/_*

## Server kchat configs
docker/configurations/server/kchat/*
!docker/configurations/server/kchat/_*

## Server ps configs
docker/configurations/server/ps/*
!docker/configurations/server/ps/_*
